{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" />
<main class="container signup-section">
    <div class="section-content">
        <h2>Log in</h2>

        <form method="POST" action="/forgotpassword/">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.user_name.label }}
                {% if form.user_name.errors %}
                  {% for error in form.user_name.errors %}
                    <p class="error-message">{{ error }}</p>
                  {% endfor %}
                {% endif %}
                {{ form.user_name }}
            </div>


            {{ form.submit(class="btn-primary") }}

        </form>
    </div>

</main>
{% endblock %}
