{% extends "layout.html" %}
{% block content %}
<div id="slider" class="ei-slider elastic">
    <div class="ei-slider-loading">Loading</div>
    <ul class="ei-slider-large">
        <li class="first slide-1 slide align- image-content-type">
            <img src="../static/images/slider-elastic/img12.jpg" width="1220" height="400" alt="Love the sport" />
            <div class="ei-title">
            </div>
        </li>
        <li class="slide-2 slide align- image-content-type">
            <img src="../static/images/slider-elastic/img13.jpg" width="1280" height="300" />
            <div class="ei-title">
            </div>
        </li>
        <li class="last slide-3 slide align- image-content-type">
            <img src="../static/images/slider-elastic/img14.jpg" width="800" height="100" alt="" />
            <div class="ei-title">
            </div>
        </li>
        <li class="last slide-3 slide align- image-content-type">
            <img src="../static/images/slider-elastic/sunset.jpg" width="1280" height="100" alt="" />
            <div class="ei-title">
            </div>
        </li>
    </ul>
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li>
            <a href="#"> - </a>
        </li>
        <li>
            <a href="#"> - </a>
        </li>
        <li>
            <a href="#"> - </a>
        </li>
        <li>
            <a href="#"> - </a>
        </li>
    </ul>
    <!-- ei-slider-thumbs -->
    <div class="shadow"></div>
</div>
<div id="primary" class="layout-sidebar-left home-section">
    <div class="inner group">
        <!-- START CONTENT -->
        <div id="content" class="group">
            <div class="page type-page status-publish hentry group">
                <h1>Welcome to Picture Perfect!<span style="color: #d46e2a;"></span></h1>
                <p><b>Picture perfect is a modern day photo editing tool. From various photo editing modes and filters to beautifying effects, this editor has got it all. Large selection of filters can easily give a magical touch to your photos. With a wide range of features, your portraits will be easily and beautifully transformed.</b></p>
                <h5>Edit your Photos</h5>
                <p><b>Do you want to quickly edit or enhance your photo? You can do exactly that here. While most effects are free of cost to use, some can be obtained by paying a small fee. So, get started and enjoy the ultimate experience!!</b></p>
            </div>
        </div>
        <!-- END CONTENT -->
        <div id="sidebar" class="group one-fourth">
            <div class="widget-first widget-last widget recent-posts">
                <h3>Our Features:</h3>
                <div class="recent-post group">
                    <div class="hentry-post group">
                        <div class="thumb-img">
                            <img width="55" height="55" src="../static/images/services/images_1.jpg" class="attachment-thumb_recentposts wp-post-image" alt="blog1" title="blog1" />
                        </div>
                        <span class="title"><b>Simply Upload Pictures</b></span>
                        <p class="post-date"><u><a href="/upload">Try It!</a></u></p>
                    </div>
                    <div class="hentry-post group">
                        <div class="thumb-img">
                            <img width="55" height="55" src="../static/images/services/images_2.jpg" class="attachment-thumb_recentposts wp-post-image" alt="Fotolia_2885999_Subscription_XL-720x367" title="Fotolia_2885999_Subscription_XL-720x367" />
                        </div>
                        <span class="title"><b>Choose Classic Effects</b></span>
                        <p class="post-date"><u><a href="/upload">Try It!</a></u></p>
                    </div>
                    <div class="hentry-post group">
                        <div class="thumb-img">
                            <img width="55" height="55" src="../static/images/services/images_3.jpg" class="attachment-thumb_recentposts wp-post-image" alt="Fotolia_26908_Subscription_XL-720x296" title="Fotolia_26908_Subscription_XL-720x296" />
                        </div>
                        <span class="title"><b>View the PhotoGallery</b></span>
                        <p class="post-date"><u><a href="/gallery">View!</a></u></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var yiw_slider_type = 'elastic',
        yiw_slider_elastic_speed = 500,
        yiw_slider_elastic_timeout = 3000,
        yiw_slider_elastic_autoplay = true,
        yiw_slider_elastic_animation = 'sides';</script>
<!-- /SLIDER -->
<div class="inner home-services home-section group">
    <h2>Make a perfect picture today!</h2>
    <div class="hentry-post group first">
        <div class="thumb-img">
            <a href="/upload">
                <img width="217" height="100" src="../static/images/services/UploadImage.png" class="attachment-thumb-home-section wp-post-image" alt="upload image" title="upload image" />
            </a>
        </div>
        <h3>
            <a href="/upload" title="Upload image" class="title">Step 1: Upload a picture</a>
        </h3>
        <p><b>Choose your favourite picture from your album.</b></p>
        <!-- <p>
            <a href="service.html" class="more-link">// read more ></a>
        </p> -->
    </div>
    <div class="hentry-post group">
        <div class="thumb-img">
            <a href="/upload">
                <img width="217" height="100" src="../static/images/services/Picture1.png" class="attachment-thumb-home-section wp-post-image" alt="choose effects" title="choose effects" />
            </a>
        </div>
        <h3>
            <a href="/upload" title="Choose effects" class="title">Step 2: Choose from Effects</a>
        </h3>
        <p><b>Select from a wide range of effects and transform your image.</b></p>
        <!-- <p>
            <a href="service.html" class="more-link">// read more ></a>
        </p> -->
    </div>
    <div class="hentry-post group">
        <div class="thumb-img">
            <a href="/upload">
                <img width="217" height="100" src="../static/images/services/download_1.jpg" class="attachment-thumb-home-section wp-post-image" alt="download" title="download" />
            </a>
        </div>
        <h3>
            <a href="/upload" class="title">Step 3: Download</a>
        </h3>
        <p><b>After the magic happens, you can download from here and share along!</b></p>
        <!-- <p>
            <a href="service.html" class="more-link">// read more ></a>
        </p> -->
    </div>
    <div class="hentry-post group last">
        <div class="thumb-img">
            <a href="/gallery">
                <img width="217" height="100" src="../static/images/services/imagesGallery.png" class="attachment-thumb-home-section wp-post-image" alt="view gallery" title="view gallery" />
            </a>
        </div>
        <h3>
            <a href="/gallery" title="View Gallery" class="title">Step 4: View Personal Gallery</a>
        </h3>
        <p><b>View the personalised images in your gallery.</b></p>
        <p>
            <a href="/upload"><button class="more-link" style="font-size:14px"><b>Try Now ></b></button></a>
        </p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
