<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <!-- <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Picture Perfect!</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/title_image.ico">
    <link rel="icon" type="image/x-icon" href="../static/images/title_image.ico">
    <!-- CSS Main -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="../static/css/lessthen960.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="../static/css/lessthen600.css" />
    <!--link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="../static/css/lessthen480.css" /-->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/pictureperfect.css" />
    <!-- CSS Plugin -->
    <link rel="stylesheet" href="../static/css/slider-thumbnails.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/homes/default.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/homes/home-ii.css" />
    <link rel='stylesheet' href='../static/css/slider-elastic.css' type='text/css' media='all' />
    <!-- FONTS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin%2Ccyrillic%2Cgreek&amp;ver=3.4.1" type="text/css" media="all" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light&amp;subset=latin%2Ccyrillic%2Cgreek&amp;ver=3.4.1" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=mitosis" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arima%20Madurai:bold&effect=shadow-multiple" type="text/css" media="all" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic&#038;ver=3.4.1' type='text/css' media='all' />
    <!-- JavaScripts -->
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
    <!-- menu -->
    <script type='text/javascript' src="../static/js/jquery.eislideshow.js"></script>
    <script type='text/javascript' src='../static/js/buttons.min.js'></script>
</head>
<body class="no_js responsive stretched-layout chrome">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="/"><h1><span><b>PICTURE PERFECT</b></span></h1></a>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div class="menu">
                            <!-- {{session['username']}} -->
                            <ul class="nav nav-tabs" role="tablist" style="list-style-type: none;margin-top: 25px">
                                <li role="presentation"><a href="/" class="active">Home</a></li>
                                <li role="presentation"><a href="/nearest">Find Nearest Stores</a></li>
                                {% if session['logged_in'] %}
                                <li role="presentation"><a>Hello {{session['username']}}</a></li>
                                <li role="presentation"><a href="/logout.html">Logout</a></li>
                                {% else %}
                                <li role="presentation"><a href="/login.html">Login</a></li>
                                <!-- <li role="presentation"><a href="about.html">Edit Photo</a></li> -->
                                <!-- <li role="presentation"><a href="page3.html">Sign Out</a></li> -->
                                <!-- <li role="presentation"><a href="contact.html">Contact</a></li> -->
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->
    <!-- PAGE META -->
    <div id="page_meta" class="home-section">
        <div class="inner group"></div>
    </div>
    <!-- end header -->
    {% block content %}
    {% endblock %}
    <div class="clear"></div>
    <!-- Start footer -->
    <div id="copyright" class="group">
        <div id="footer" class="sidebar-right">
            <div class="group inner footer_row_1 footer_cols_1">
                <div class="widget widget_nav_menu" style="text-align:center">
                    <h3 style="padding-top:25px">About Us</h3>
                    <div class="menu-footer-menu-container">
                        <p class="columns2"> We are a team of dedicated developers trying to bring out the best of your photography skills and visualising talent to explore the horizons. We will continously try to bring the best to you! Keep supporting us and keep sharing your beautiful moments with various hues to the world! What more.. Try till you find the best fit!!!!!</p>
                        <!-- style="margin-right: 5px;" -->
                        <!--<img src="../static/images/blog/blog1.jpg" width="480" height="150" style="margin-top: 15px;" />-->
                    </div>
                </div>
                <!--<div class="quick-contact-widget widget two-third last">
                    <div class="widget-last widget quick-contact">
                        <h3>Please Contact Us</h3>
                        <form id="contact-form-example" class="contact-form" method="post" action="sendmail.php" enctype="multipart/form-data">
                            <div class="usermessagea"></div>
                            <fieldset>
                                <ul>
                                    <li class="text-field">
                                        <label for="name-example">
                                            <span class="label"></span>
                                        </label>
                                        <div class="input-prepend">
                                            <span class="add-on">
                                                <i class="icon-user"></i>
                                            </span>
                                            <input type="text" name="name" id="name-example" required class="required" value="" placeholder="Name" />
                                        </div>
                                        <div class="msg-error"></div>
                                    </li>
                                    <li class="text-field">
                                        <label for="email-example">
                                            <span class="label"></span>
                                        </label>
                                        <div class="input-prepend">
                                            <span class="add-on">
                                                <i class="icon-envelope"></i>
                                            </span>
                                            <input type="text" name="email" id="email-example" required class="required email-validate" placeholder="Email" value="" />
                                        </div>
                                        <div class="msg-error"></div>
                                    </li>
                                    <li class="textarea-field">
                                        <label for="message-example">
                                            <span class="label"></span>
                                        </label>
                                        <div class="input-prepend">
                                            <span class="add-on">
                                                <i class="icon-pencil"></i>
                                            </span>
                                            <textarea name="message" id="message-example" required rows="8" cols="30" class="required" placeholder="Message"></textarea>
                                        </div>
                                        <div class="msg-error"></div>
                                    </li>
                                    <li class="submit-button">
                                        <input type="text" name="yiw_bot" id="yiw_bot" />
                                        <input type="hidden" name="action" value="sendemail" id="action" />
                                        <input type="hidden" name="yiw_referer" value="#" />
                                        <input type="hidden" name="id_form" value="footer" />
                                        <input type="submit" name="yiw_sendemail" value="send message" class="sendmail alignright" />
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
                        <script type="text/javascript">
                            var messages_form_footer = {
                                name: "Insert your name",
                                email: "Insert your email",
                                message: "Insert your message"
                            };
                        </script>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- <div id="copyright" class="group"> -->
        <div class="inner group">
            <div class="left">
            </div>
            <div class="center">
                <a href="https://www.facebook.com" class="socials facebook" style="font-size:30px;" title="Facebook">
                    <img src="../static/images/social_icons/Facebook.ico"/ width="50" height="50" style="margin-right: 45px;">
                </a>
                <a href="https://www.instagram.com" class="socials linkedin" style="font-size:30px;" title="Instagram">
                    <img src="../static/images/social_icons/instagram.ico"/ width="45" height="45" style="margin-right: 45px;">
                </a>
                <a href="https://www.twitter.com" class="socials rss" style="font-size:30px;" title="Twitter">
                    <img src="../static/images/social_icons/twitter-icon.png"/ width="50" height="50">
                </a>
            </div>
        </div>
    </div>
    <!--end footer  -->
    <script type="text/javascript" src="../static/js/jquery.custom.js"></script>
    <script type="text/javascript" src="../static/js/contact.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36516261-21']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
